// Stroke animation: Demonstration of the stroke attribute + SVG path animation
template(name='scene2main')
  +StateModifier align='[.5,.5]' origin='[.5,.5]'
    +FviewSvg template='scene2svg' size='[400, 300]' shapes='["rect"]' stroke='5'
