template(name='scene1svg')
  svg(viewBox='0 0 400 300', preserveAspectRatio='xMinYMin meet')
    g
      rect(ry='5.051', rx='5.051', y='.119', x='.119', height='299.762', width='399.762', stroke-miterlimit='11.113', fill='#fffbed', stroke='#826300', stroke-width='.238', stroke-linecap='round', stroke-linejoin='round')
      path(d='M24.88 17.5c0 4.077-3.304 7.38-7.38 7.38-4.076 0-7.38-3.303-7.38-7.38 0-4.076 3.304-7.38 7.38-7.38 4.076 0 7.38 3.304 7.38 7.38z', fill='#ef2929')
      path(d='M44.88 17.5c0 4.077-3.304 7.38-7.38 7.38-4.076 0-7.38-3.303-7.38-7.38 0-4.076 3.304-7.38 7.38-7.38 4.076 0 7.38 3.304 7.38 7.38z', fill='#ffc200')
      path(d='M64.88 17.5c0 4.077-3.304 7.38-7.38 7.38-4.076 0-7.38-3.303-7.38-7.38 0-4.076 3.304-7.38 7.38-7.38 4.076 0 7.38 3.304 7.38 7.38z', fill='#73d216')
    rect#menu(ry='5.051', rx='5.051', y='35', x='15', height='40', width='370', fill='#ffc200')
    g#buttons(fill='#826300')
      rect(ry='5.051', rx='5.051', y='43', x='25', height='25', width='80')
      rect(width='80', height='25', x='115', y='43', rx='5.051', ry='5.051')
      rect(ry='5.051', rx='5.051', y='43', x='205', height='25', width='80')
      rect(width='80', height='25', x='295', y='43', rx='5.051', ry='5.051')
    g#logo
      path(d='M56.322 157.745c.036 28.6 16.432 86.863 72.092 86.576 23.697-.12 42.898-19.2 42.898-42.894 0-23.697-19.202-42.705-42.898-42.898-24.665-.202-33.328 15.74-46.018 19.945-13.67 4.53-26.074-21.49-26.074-20.724zm8.58 18.83c4.357 7.535 17.406 12.362 24.513 5.126-4.984 9.01-10.898 26.74 5.572 46.02-16.746-8.27-30.195-44.813-30.085-51.142z', fill='#ffc200')
      path(d='M128.023 165.595c-20.085 0-36.37 16.034-36.37 35.81 0 18.368 13.998 33.445 32.09 35.506.896.05 1.392-.025 1.815-.39.344-.29.52-.79.52-1.21v-21.32c-9.794-1.02-17.638-9.115-17.516-19.03.115-9.47 6.636-17.025 15.266-18.81.23-.047.4-.12.52 0 .134.133.042.476.042.476l-.648 3.157s-.03.2-.087.26c-.06.06-.127.104-.216.13-3.75 1.174-7.148 3.718-8.78 6.79-1.368 2.56-2.25 4.47-2.25 7.958 0 7.506 5.88 14.376 13.664 15.31v-23.7c0-2.472.142-5.375 1.6-7.35 1.137-1.54 3.106-2.467 6.228-2.467 4.49 0 9.87 3.256 12.585 10.38.82 2.152 1.305 4.883 1.297 7.827-.025 9.882-7.724 17.966-17.473 19.03v21.362c0 .565.15 1.003.477 1.255.394.304.76.44 1.86.346.41-.034 1.18-.156 1.515-.215 17.156-2.873 30.187-17.578 30.187-35.29 0-19.776-16.246-35.81-36.33-35.81zm5.882 14.877c-1.852.167-2.65.867-3.07 1.86-.42.992-.52 3.244-.52 4.195v23.656c4.49-.6 8.642-3.197 11.245-7.31 1.455-2.293 2.22-5.313 2.335-8 .17-3.934-1-7.11-2.55-9.644-1.55-2.536-4.344-5.04-7.44-4.76z', fill='#7a5d00', fill-opacity='.941')
      path(d='M111.568 157.878c-24.358 8.397-25.286 16.937-33.57 14.968-8.286-1.968-22.722-32.15-44.31-43.98 47.622 16.1 26.632 38.282 77.88 29.012z', fill='#ffc200')
      path(d='M55.265 135.34c25.97.587 29.803 17.374 46.28 19.687-28.372 3.52-27.288-15.504-46.28-19.687z', fill='#ffc200')
    g#text
      rect(width='175', height='195', x='210', y='90', rx='5.051', ry='5.051', fill='#ffc200')
      rect(ry='2.5', rx='2.5', width='75', height='5', x='220', y='100', fill='#826300')
      rect(y='110', x='220', height='5', width='75', rx='2.5', ry='2.5', fill='#826300')
      rect(ry='2.5', rx='2.5', width='75', height='5', x='220', y='120', fill='#826300')
      rect(y='130', x='220', height='5', width='40', rx='2.5', ry='2.5', fill='#826300')
      rect(ry='2.5', rx='2.5', width='75', height='5', x='220', y='140', fill='#826300')
      rect(y='150', x='220', height='5', width='75', rx='2.5', ry='2.5', fill='#826300')
      rect(ry='5.051', rx='5.051', y='100', x='300', height='65', width='75', fill='#826300')
      rect(ry='2.5', rx='2.5', width='50', height='5', x='220', y='160', fill='#826300')
      rect(y='170', x='220', height='5', width='155', rx='2.5', ry='2.5', fill='#826300')
      rect(ry='2.5', rx='2.5', width='155', height='5', x='220', y='180', fill='#826300')
      rect(y='190', x='220', height='5', width='80', rx='2.5', ry='2.5', fill='#826300')
      rect(ry='2.5', rx='2.5', width='155', height='5', x='220', y='200', fill='#826300')
      rect(y='210', x='220', height='5', width='155', rx='2.5', ry='2.5', fill='#826300')
      rect(ry='2.5', rx='2.5', width='155', height='5', x='220', y='220', fill='#826300')
      rect(y='230', x='220', height='5', width='155', rx='2.5', ry='2.5', fill='#826300')
      rect(ry='2.5', rx='2.5', width='155', height='5', x='220', y='240', fill='#826300')
      rect(y='250', x='220', height='5', width='155', rx='2.5', ry='2.5', fill='#826300')
      rect(ry='2.5', rx='2.5', width='155', height='5', x='220', y='260', fill='#826300')
      rect(y='270', x='220', height='5', width='116.109', rx='2.5', ry='2.5', fill='#826300')
